     <!--FOOTER-->
     <footer>
       <div class="footer-container">
         <div class="footer-main ">
           <div class="footer-columna col-3 col-md-2 col-lg-2">
             <a href=""><img class="logo" src="/images/logo.jpeg" alt=""></a>
           </div>
         <div class="footer-columna col-8 col-md-5 col-lg-5">
           <h5>Nosotros</h5>
           <p>¿Quienes somos?</p>
           <p>Nuestra tienda de Bicicletas en:<br>Calle Falsa 123</p>
           <p>Mail: info@thebestbikes.com</p>
           <p>Tel: 5555-1234</p>
           <span><a class="fas fa-phone-square"></a></span>
           <span><a class="fas fa-envelope-square"></a></span>
           <span><a class="fab fa-facebook-square"></a></span>
           <span><a class="fab fa-twitter-square"></a></span>
           <span><a class="fab fa-whatsapp-square"></a></span>
         </div>
         <div class="footer-columna col-12 col-md-4 col-lg-5">
           <ul class="navegacion">
               <h5>Tienda</h5>
               <li><a href="">Home</a></li>
                 <li><a href="">Bicicletas Armadas</a></li>
                 <li><a href="">Marcas</a></li>
                 <li><a href="">Arma tu Bicicleta</a></li> 
                 <li><a href="">Accesorios</a></li>
                 <li><a href="">Respuestos</a></li>
                 <li><a href="">Nosotros</a></li>
             </ul>
         </div>
         </div>
       </div>
       <div class="footer-copy-redes">
          &copy; The Best Bikes 2020 - Todos los derechos reservados - 
       </div>
     </footer>
 
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>