<!DOCTYPE html>
<html lang="es">

    <%- include('partials/head') %> 

<body>
    <%- include('partials/header') %>
    
    <h1>ERROR-404!!</h1>
    <h3>No se encontro la pagina solicitada :C</h3>

    <img src="/ERROR-404.png" alt="Error404">
         
  <%- include('partials/footer') %>
</body>
</html>