<!DOCTYPE html>
<html lang="es">

    <%- include('partials/head') %> 

<body>
    <%- include('partials/header') %>
    
    <h1>No se encontro la pagina solicidata :C</h1>
    
         
  <%- include('partials/footer') %>
</body>
</html>