<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carga de Producto</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="/stylesheets/productAdd.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="container">
      <h3>
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          class="bi bi-bicycle"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M3 12a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10-1a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
          />
          <path
            fill-rule="evenodd"
            d="M4 4.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1v.5h4.14l.386-1.158A.5.5 0 0 1 11 4h1a.5.5 0 0 1 0 1h-.64l-.311.935 2.375 3.8a.5.5 0 1 1-.848.53L10.5 6.943l-2.076 3.322A.5.5 0 0 1 8 10.5H3a.5.5 0 0 1-.424-.765L5 5.857V5h-.5a.5.5 0 0 1-.5-.5zm1.5 2.443L3.902 9.5h3.196L5.5 6.943zM8 9.057L9.598 6.5H6.402L8 9.057z"
          />
        </svg>
        Formulario de Carga de Producto
      </h3>
    </div>
    <div class="container cargaProducto">
      <div class="datobici">
        <div class="row">
          <input type="text" id="nombreProducto" placeholder="Nombre del Producto" />
        </div>
        <div class="row mt-2">
          <div class="col-6">
            <span>Tipo</span>
          </div>
          <div class="col-6">
            <select class="custom-select" name="Tipo" id="Tipo">
              <option value="">...</option>
            </select>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6">
            <span>Marca</span>
          </div>
          <div class="col-6">
            <select class="custom-select" name="Marcas" id="Marcas">
              <option value="">...</option>
            </select>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6">
            <span>Modelo</span>
          </div>
          <div class="col-6">
            <select class="custom-select" name="Modelo" id="Modelo">
              <option value="">...</option>
            </select>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6">
            <span>Color</span>
          </div>
          <div class="col-6">
            <select class="custom-select" name="Colores" id="Colores">
              <option value="">...</option>
            </select>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6">
            <select class="custom-select" name="Precio(Pesos)" id="Precio(Pesos)">
              <option value="">...</option>
            </select>
          </div>
          <div class="col-6">
            <select class="custom-select" name="Precio(Dolares)" id="Precio(Dolares)">
              <option value="">...</option>
            </select>
          </div>
        </div>
        <div class="row">
            <button type="button" class="btn btn-success">Cargar Producto</button>
        </div>
      </div>
      <div class="cargafoto">
        <div class="custom-file">
          <input
            type="file"
            class="custom-file-input"
            id="customFileLang"
            lang="es"
          />
          <label class="custom-file-label" for="customFileLang"
            >Seleccionar Archivo</label>
        </div>
      </div>
      <div class="fichaTecnica">
        <h5>Ficha Tecnica</h5>
        <textarea
          name="fichaTecnica"
          id="fichaTecnica"
          cols="30"
          rows="10"
        ></textarea>
      </div>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
