<!DOCTYPE html>
<html lang="es">

  <%- include('partials/head') %> 

<body>
  <%- include('partials/header') %>
    
    <div>
        <h2>MI CARRITO</h2>
        <ul class="productos">
          <li>Producto</li>
          <li>Precio</li>
          <li>Cantidad</li>
          <li>Total</li>
        </ul>
        <div class="caja">
          <h4>Descripción del producto</h4>
          <img src="images/Bicicletas/BMX/BICICLETA VENZO INFERNO R20 NEGRONARANJA/BICICLETA VENZO INFERNO R20 NEGRONARANJA.jpg" alt="infierno venzo">
          <p>Rodado
            20
            <br>
            Tipo de uso
            FREESTYLE
            <br>
            Talla
            UNICA
            <br>
            Velocidades
            Single</p>
            <h3>$28998</h3>
          </div>
            <div class="linea">
        <div class="cupon">
          <textarea></textarea>
        <button type="submit">ingresa tu cupon</button>
        </div>
        <div class="finalizar">
          <button><link rel="stylesheet" href="">pasar a finalizar la compra</button>
        </div>
      </div>
      <div class="total">
        <h4>Total del carrito</h4>
        <p>________________________</p>
        <button>
          
        </button>
        <button>

        </button>
      </div>
       
    </div>

         <br>
      <%- include('partials/footer') %>
</body>
</html>
