<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Formulario Registro</title>
</head>
<body>
    <section class="form-register">
        <h4>Ingresa tus Datos</h4>
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Fecha de Nacimiento">
        <input class="controls" type="email" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
        <input class="controls" type="password" name="nombres" id="nombres" placeholder="Ingrese su Contraseña">
        <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
        <input class="buttons" type="submit" value="Registrar">
        <p><a href="#">¿Ya Tiene una Cuenta?</a></p>
    </section>
</body>
</html>