@import "style.css";



.carousel {
  margin-top: 10px;
  width: 100%;
}
.carousel-inner img{
     height:330px;
}
@media(min-width: 1024px){
  .carousel-inner img{
    height:400px;
}
}

/*header nav{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
header nav button.burger{
  background-color: white;
  color: #162447;
  border-bottom: 20px;
}*/


/* BICICLETAS ARMADAS */
.section .conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.titulo{
  grid-column: 1/3;
  grid-row: 1/2;
}
.titulo h3 {
  text-align: center;
  font-size: 2.2em;
  padding-top: 20px;
}

.tipobicicletas {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(3,1fr);
}

.tipobici {
  width: 98%;
  height: 150px;
  border-radius: 50px;
}
.montaña{
  background-image: url('../images/Bicicletas/Montaña/Bicicleta\ Rodado\ 29\ Raleigh\ Mojave\ 4.0/Bicicleta Rodado 29 Raleigh Mojave 4.0.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-row: 2/4;
  grid-column: 1/2;
}
.urbana{
  background-image: url('../images/Bicicletas/Urbana/Bicicleta\ Rodado\ 26\ HGP\ Melanie\ Vintage/Bicicleta Rodado 26 HGP Melanie Vintage.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-row: 2/4;
  grid-column: 2/3;
}
.bmx{
  background-image: url('../images/Bicicletas/BMX/Bicicleta\ GW\ Elite\ Mini\ BMX/Bicicleta GW Elite Mini BMX.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-row: 2/4;
  grid-column: 3/4;
}
.infantil{
  background-image: url('../images/Bicicletas/Infantil/Bicicleta\ Rodado\ 12\ Raleigh\ Cupcake/Bicicleta Rodado 12 Raleigh Cupcake.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-row: 2/4;
  grid-column: 4/5;
}
.ruta{
  background-image: url('../images/Bicicletas/Ruta/Bicicleta\ Rodado\ 28\ Gravel\ Specialized\ DIVERGE\ E5\ 2019/Bicicleta Rodado 28 Gravel Specialized DIVERGE E5 2019.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-row: 2/4;
  grid-column: 5/6;
}
.section img {
  width: 100%;
}

.section h6:hover {
  transition: ease 1s;
  color: royalblue;
  transform: scale(1.2);
}

.section h6 {
  text-align: center;
  margin-top: 25%;
  color: rgb(151, 39, 39);
  font-size: 20px;
}


@media(min-width: 768px) {
  .section .conteiner {
    justify-content: start;
  }

  .section img {
    width: 150px;
    height: 100px;
  }

  .section h6 {
    left: 35px;
  }
}

@media(min-width: 1024px) {
  .section img {
    width: 100%;
    height: 150px;
  }
}

/*.section .contenido p{
    width: 90%;
    height: 90%;
    left: 6px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .section .contenido a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }*/

/*PLAN CANJE*/
.contenedorCanje {
  position: relative;
  display: inline-block;
  text-align: center;
  display: flex;
  margin-top: 0px;
  flex-wrap: wrap;
}

.contenedorCanje img {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  opacity: 0.8;
}
.contenedorTexto{
  background-color: rgba(182, 7, 7, 0.705);
  height: 115px;
  margin-left: -15px;
}
.textoEncima{
  color: #162447;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 9px;
  line-height: 9px;
  text-align: center;
}

@media(min-width: 768px){
  .contenedorTexto{
    height: 246px;
  }
  .textoEncima{
    font-size: 20px;
    line-height: 27px;
  }
}
@media(min-width: 1024px){
  .contenedorTexto{
    height: 331px;
  }
  .textoEncima{
    font-size: 31px;
    line-height: 33px;
  }
}

