.caja{
    border: solid 1px;
}
.caja img{
    width: 351px;
    position: relative;
    right: -4px;
    bottom: 111px;
}
.productos li{
display: block;
float: left;
margin: 30px 70px;
position: relative;
bottom: 40px;
left: 700px;
}
.productos li:nth-child(1){
position: relative;
left: -20px;
}
.caja h4{
    position: relative;
    right: 500px;
}
.caja p{
    position: relative;
    bottom: 100px;
    left: 26px;
}
.caja h2{
    position: relative;
    right: -14px;
    bottom: 75px;
}
.caja h3{
    position: relative;
    left: 264px;
    bottom: 117px;
}
.cupon textarea{
    height: 30px;
    width: 300px;
}
.cupon button{
    position: relative;
    bottom: 25px;
}
.finalizar button{
    position: relative;
    left: 184px;
    bottom: 2px;
}
.linea{
    border-bottom: solid 1px rgb(99, 93, 93);
    display: inline-block;
}
.total{
    border: solid 1px rgb(102, 94, 94);
}
.total h4{
    position: relative;
    left: 5px;
}
.row{
    border: solid 1px rgb(102, 94, 94);
}
.row img{
    
    width: 100px;
    position: relative;
    right: 16px;
}
.row h5{
    position: relative;
    bottom: -129px;
    right: 117px;
}