@import "style.css";

.detalle{
  
    height: 250px;
    margin: 10px;
    margin-left: 20px;
}

.gravelTitulo{
    font-size: 20px;
}
.colores p{
    display: inline;
   font-size: 16px;
   padding-left: 10px;
}
.detalle .comprar{
    background: white;
    border-radius: 10px;
    margin: 15px 100px;
}
.detalle .comprar:hover{
    background-color: rgb(111, 121, 207);
}
.imgProducto img{
    height: 200px;
    display: inline-block;
    margin-left: 30px;
    margin-top: 90px;
    margin-bottom: 20px
}

.text{
    margin: 5px;
    margin-left: 5px;
    top: 5px;
}
.cardB{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
}
.cardB p{
    font-size: 15px;
}
.cardB .card{
    margin-bottom: 5px;
}
@media(min-width: 768px){
    .detalle{
        margin-left: 40px;
    }
    .text {
        display: flex;
        flex-wrap: wrap;
        margin-left: 25px;
        height: 0%;
    }
    .imgProducto img{
        margin-left: 215px;
    }
    .detalle .comprar{
        margin: 20px 155px;
    }
}
@media(min-width: 1024px){
    .detalle{
       height: 350px;
        margin: 10px;
        margin-left: 50px;
    }
    h1{
        margin-left: 33px;
    }
    .gravelTitulo{
        font-size: 30px;
        margin-top: 15px;
    }
    h5{
       font-size: 23px;
    }
    .imgProducto img{
        height: 350px;
        display: inline-block;
        margin-top: 10px;
        margin-left: 30px;
    }
    .colores p{
        display: inline;
       font-size: 20px;
       margin: 5px;
    }
    
    .text{
        display: flex;
        flex-wrap: wrap;
        margin-left: 50px;
        height: 0%;
    }
    .cardB{
        display: inline-block;
        margin-top: 10px;
        margin-left: 50px;
        margin-bottom: 20px;
    }
    .detalle .comprar{
        margin: 20px 90px;
    }
    .comprar{
        width: 140px;
    }
    h6{
        font-size: 22px;
    }
}