.form-group button {
    border: solid 1px rgb(73, 71, 71)
}

.divvv {
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border: solid 3px rgb(219, 219, 219);
    padding: 20px;
}

.divvv img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    position: relative;
    left: 360px;
    margin-bottom: 10px;
}

.h4{
    position: relative;
    bottom: 300px;
}