<!DOCTYPE html>
<html lang="es">

  <%- include('partials/head') %> 

<body>
  <%- include('partials/header') %>
    
    <div>
      <h2 class="cart mb-5 mt-3 ml-3">MI CARRITO</h2>
      <h3 class="ml-3">Tu carrito esta vacio</h4>
      <a href="/products" class="ml-3">¿Querés agregar un producto? haz click aquí</a>
    </div>  
      <%- include('partials/footer') %>
</body>
</html>
